USE [master]
GO
/****** Objet : Database [DW_Sales] Date de script : 27/09/2026 12:21:55 ******/
CREATE DATABASE [DW_Sales]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW_Sales', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DW_Sales.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DW_Sales_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DW_Sales_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW_Sales].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW_Sales]
GO
/****** Objet : Table [dbo].[DimCurrencies] Date de script : 27/09/2026 12:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCurrencies](
	[NewCurrencyKey] [numeric](18, 0) NOT NULL,
	[CurrencyAlternateKey] [varchar](50) NULL,
 CONSTRAINT [PK_DimCurrencies] PRIMARY KEY CLUSTERED 
(
	[NewCurrencyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[DimDate] Date de script : 27/09/2026 12:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[OrderDate] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[DimEmployee] Date de script : 27/09/2026 12:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimEmployee](
	[NewEmployeeKey] [numeric](18, 0) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Title] [varchar](50) NULL,
 CONSTRAINT [PK_DimEmployee] PRIMARY KEY CLUSTERED 
(
	[NewEmployeeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[DimProducts] Date de script : 27/09/2026 12:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProducts](
	[ProductKey] [numeric](18, 0) NOT NULL,
	[Productname] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[DimPromotion] Date de script : 27/09/2026 12:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPromotion](
	[NewPromotionKey] [numeric](18, 0) NOT NULL,
	[PromotionName] [varchar](50) NULL,
 CONSTRAINT [PK_DimPromotion] PRIMARY KEY CLUSTERED 
(
	[NewPromotionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[DimResellers] Date de script : 27/09/2026 12:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimResellers](
	[NewResellerKey] [numeric](18, 0) NOT NULL,
	[ResellerName] [varchar](50) NULL,
 CONSTRAINT [PK_DimResellers] PRIMARY KEY CLUSTERED 
(
	[NewResellerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[DimSaless] Date de script : 27/09/2026 12:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSaless](
	[NewEmployeeKey] [numeric](18, 0) NULL,
	[NewPromotionKey] [numeric](18, 0) NULL,
	[NewProductKey] [numeric](18, 0) NULL,
	[NewResellerKey] [numeric](18, 0) NULL,
	[NewSalesTerritoryKey] [numeric](18, 0) NULL,
	[SaleID] [varchar](50) NULL,
	[OrderDate] [varchar](50) NULL,
	[OrderQuantity] [varchar](50) NULL,
	[UnitPrice] [varchar](50) NULL,
	[CurrencyKey] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[DimSalesTerritory] Date de script : 27/09/2026 12:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSalesTerritory](
	[NewSalesTerritoryKey] [numeric](18, 0) NOT NULL,
	[SalesTerritoryRegion] [varchar](50) NULL,
	[SalesTerritoryCountry] [varchar](50) NULL,
	[SalesTerritoryGroup] [varchar](50) NULL,
 CONSTRAINT [PK_DimSalesTerritory] PRIMARY KEY CLUSTERED 
(
	[NewSalesTerritoryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[FactSales] Date de script : 27/09/2026 12:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactSales](
	[NewEmployeeKey] [numeric](18, 0) NULL,
	[NewPromotionKey] [numeric](18, 0) NULL,
	[NewProductKey] [numeric](18, 0) NULL,
	[NewResellerKey] [numeric](18, 0) NULL,
	[NewSalesTerritoryKey] [numeric](18, 0) NULL,
	[SaleID] [varchar](50) NULL,
	[OrderDate] [varchar](50) NULL,
	[OrderQuantity] [varchar](50) NULL,
	[UnitPrice] [varchar](50) NULL,
	[CurrencyKey] [numeric](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[Recherche 1] Date de script : 27/09/2026 12:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recherche 1](
	[SaleID] [varchar](50) NULL,
	[OrderDate] [varchar](50) NULL,
	[OrderQuantity] [varchar](50) NULL,
	[UnitPrice] [varchar](50) NULL,
	[NewPromotionKey] [numeric](18, 0) NULL,
	[CurrencyKey] [varchar](50) NULL,
	[SalesTerritoryKey] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimCurrencies] FOREIGN KEY([CurrencyKey])
REFERENCES [dbo].[DimCurrencies] ([NewCurrencyKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimCurrencies]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimEmployee] FOREIGN KEY([NewEmployeeKey])
REFERENCES [dbo].[DimEmployee] ([NewEmployeeKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimEmployee]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimProducts] FOREIGN KEY([NewProductKey])
REFERENCES [dbo].[DimProducts] ([ProductKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimProducts]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimPromotion] FOREIGN KEY([NewPromotionKey])
REFERENCES [dbo].[DimPromotion] ([NewPromotionKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimPromotion]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimResellers] FOREIGN KEY([NewResellerKey])
REFERENCES [dbo].[DimResellers] ([NewResellerKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimResellers]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimSalesTerritory] FOREIGN KEY([NewSalesTerritoryKey])
REFERENCES [dbo].[DimSalesTerritory] ([NewSalesTerritoryKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimSalesTerritory]
GO
/****** Objet : StoredProcedure [dbo].[InsertSales] Date de script : 27/09/2026 12:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[InsertSales]
(
    @NewEmployeeKey numeric(18,0),
    @NewPromotionKey numeric(18,0),
    @NewProductKey numeric(18,0),
    @NewResellerKey numeric(18,0),
    @NewSalesTerritoryKey numeric(18,0),
    @SaleID varchar(50),
    @OrderDate varchar(50),
    @OrderQuantity varchar(50),
    @UnitPrice varchar(50),
    @CurrencyKey varchar(50)
)
AS
BEGIN
    INSERT INTO DimSaless
    (
        NewEmployeeKey,
        NewPromotionKey,
        NewProductKey,
        NewResellerKey,
        NewSalesTerritoryKey,
        SaleID,
        OrderDate,
        OrderQuantity,
        UnitPrice,
        CurrencyKey
    )
    VALUES
    (
        @NewEmployeeKey,
        @NewPromotionKey,
        @NewProductKey,
        @NewResellerKey,
        @NewSalesTerritoryKey,
        @SaleID,
        @OrderDate,
        @OrderQuantity,
        @UnitPrice,
        @CurrencyKey
    )
END
GO
/****** Objet : StoredProcedure [dbo].[UpdateCurrency] Date de script : 27/09/2026 12:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[UpdateCurrency]
(
    @CurrencyKey numeric(18,0),
    @CurrencyAlternateKey varchar(50)
)
AS
BEGIN
    UPDATE DimCurrencies
    SET
        CurrencyAlternateKey = @CurrencyAlternateKey
    WHERE NewCurrencyKey = @CurrencyKey
END
GO
/****** Objet : StoredProcedure [dbo].[UpdateEmployee] Date de script : 27/09/2026 12:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[UpdateEmployee]
(
    @NewEmployeeKey numeric(18,0),
    @FirstName varchar(50),
    @LastName varchar(50),
    @Title varchar(50)
)
AS
BEGIN
    UPDATE DimEmployee
    SET
        FirstName = @FirstName,
        LastName = @LastName,
        Title = @Title
    WHERE NewEmployeeKey = @NewEmployeeKey
END
GO
/****** Objet : StoredProcedure [dbo].[UpdateProducts] Date de script : 27/09/2026 12:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[UpdateProducts](@ProductKey int,@ProductDesc varchar(150))
AS BEGIN
	Update	DimProducts
	SET		Productname = @ProductDesc
	WHERE	ProductKey = @ProductKey
END
GO
/****** Objet : StoredProcedure [dbo].[UpdatePromotion] Date de script : 27/09/2026 12:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[UpdatePromotion]
(
    @PromotionKey numeric(18,0),
    @PromotionName varchar(50)
)
AS
BEGIN
    UPDATE DimPromotion
    SET
        PromotionName = @PromotionName
    WHERE NewPromotionKey = @PromotionKey
END
GO
/****** Objet : StoredProcedure [dbo].[UpdateReseller] Date de script : 27/09/2026 12:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[UpdateReseller]
(
    @ResellerKey numeric(18,0),
    @ResellerName varchar(50)
)
AS
BEGIN
    UPDATE DimResellers
    SET
        ResellerName = @ResellerName
    WHERE NewResellerKey = @ResellerKey
END
GO
/****** Objet : StoredProcedure [dbo].[UpdateSalesTerritory] Date de script : 27/09/2026 12:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[UpdateSalesTerritory]
(
    @SalesTerritoryKey numeric(18,0),
    @SalesTerritoryRegion varchar(50),
    @SalesTerritoryCountry varchar(50),
    @SalesTerritoryGroup varchar(50)
)
AS
BEGIN
    UPDATE DimSalesTerritory
    SET
        SalesTerritoryRegion = @SalesTerritoryRegion,
        SalesTerritoryCountry = @SalesTerritoryCountry,
        SalesTerritoryGroup = @SalesTerritoryGroup
    WHERE NewSalesTerritoryKey = @SalesTerritoryKey
END
GO
USE [master]
GO
